.task-add {

    transition: .2s ease;
    width: 250px;
    margin: 0 10px;




    .open {
        form {
            textarea {
                padding: 6px 8px 2px;
                border-radius: 3px;
                margin-bottom: 8px;
                width: 100%;
                background-color: #ffffff;
                box-shadow: 0 1px 0 #091e4240;
                font-size: rem(14px);
                max-width: 250px;
                border: none;
                resize: none;
                font-family: $font-regular;
                overflow-wrap: break-word;
                font-size: 14px;
                color: $clr1;
            }
        }

        .task-add-btn {

            display: flex;
            margin-bottom: 8px;
            align-items: center;

            button {


                &.close-btn {
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        color: #6b778c;

                        &:hover{
                            
                            color: #172b4d;
                        }
                    }
                }
            }
        }
    }


}

.close {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    height: 34px;
    padding: 4px 8px;
    border-radius: 3px;
    font-family: $font-semi;
    color: #5e6c84;
    width: 100%;
    text-align: left;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 14px;


    svg {
        color: #5e6c84;
        font-size: 16px;
    }

    &:hover {
        color: #172b4d;
        background-color: rgba(9, 30, 66, 0.08);
    }

}