.task-details-activity {
    margin-bottom: 24px;

    form {
        padding: 8px 12px;
        background-color: white;

        textarea {
            width: 100%;
            border: none;
            resize: none;
            transition: margin .2s;
            font-size: 14px;
            font-family: $font-regular;
            color: #172b4d;
        }

        button {
            display: none;
        }

        &.focus {
            box-shadow: $shadow;

            button {
                display: inherit;
            }

            textarea {
                margin-bottom: 12px;
            }
        }
    }
}