@font-face {
  font-family: OpenSans-Regular;
  src: url("../../fonts/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../../fonts/OpenSans/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../../fonts/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../../fonts/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: SourceCodePro-Regular;
  src: url("../../fonts/SourceCodePro/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: SourceCodePro-Light;
  src: url("../../fonts/SourceCodePro/SourceCodePro-Light.ttf");
}
@font-face {
  font-family: SourceCodePro-Bold;
  src: url("../../fonts/SourceCodePro/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: ShadowsIntoLightTwo-Bold;
  src: url("../../fonts/ShadowsIntoLightTwo/ShadowsIntoLightTwo-Regular.ttf");
}

@font-face{
  font-family: Source-sans-pro-semi;
  src: url("../../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

@font-face{
  font-family: Source-sans-pro-bold;
  src: url("../../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face{
  font-family: Source-sans-pro-reg;
  src: url("../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
