// Colors
$clr1: #0c2233;
$clr2: #0a91ab;
$clr3: #065471;
$clr4: #ffc045;
$clr5: #eeeeee;
$clr6: #303841;
$textBlue: #002d3d;
$hoverBlue: #c5dbee;
$btnGrey: #ebebeb;

// TASK PALETTE
$pGreen: #61bd4f;
$pYellow: #f2d600;
$pOrange: #ff9f1a;
$pRed: #eb5a46;

// FONT
$font-regular: OpenSans-Regular, sans-serif;
$font-light: OpenSans-Light, sans-serif;
$font-semi: OpenSans-semiBold, sans-serif;
$font-bold: OpenSans-Bold, sans-serif;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// LOGO
$font-logo: Source-sans-pro-bold;
$font-home-title: Source-sans-pro-semi;
$font-home: Source-sans-pro-reg;

// OTHER
$shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
$blue-shadow: inset 0 0 0 2px #0079bf;;
$red-shadow: inset 0 0 0 2px #b04632;;
